.pricePage {
    background-image: url('/img/fonPrice.jpg');
    /* Путь к фоновому изображению */
    background-attachment: fixed;
    /* Фиксируем фон */
    background-position: center;
    /* Центрируем изображение */
    background-repeat: no-repeat;
    /* Убираем повторение */
    background-size: cover;
    /* Растягиваем на весь экран */

}