.HeroCildPage {
    padding-top: 105px;
    border-bottom: 2px solid  var(--belyy-300);
}

.title{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--belyy);

    padding: 30px 0;
}