.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 20px 0;
    transition: transform 0.4s ease;
}

.visible {
    transform: translateY(0);
}

.hidden {
    transform: translateY(-100%);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 15px;
    border-radius: 12px;

    backdrop-filter: blur(12px);
    background: rgba(40, 38, 49, 0.6);
}

/* LEFT */
.left {
    display: flex;
    align-items: center;
}


/* LOGO */
.logo {
    display: inline-flex;
    align-items: center;
    position: relative;

       min-width: 360px;

    overflow: hidden;

    /* показываем только область иконки */
    transition: clip-path 0.4s cubic-bezier(.4, 0, .2, 1);


     @media (max-width: 500px) {
        min-width: auto;
        width: 180px;
        
    }
}


.logoImg path {
    transform-box: fill-box;
    transform-origin: center;
    vector-effect: non-scaling-stroke;
}

.logoImg {

    flex-shrink: 0;
}

/* начальная позиция */
.logoImg [data-count="one"] {
    transform: translateX(96%);
    transition: 0.4s;
}

.logoImg [data-count="two"] {
    transform: translateX(40%);
    transition: 0.5s;
}

.logoImg [data-count="three"] {
    transform: translateX(-10%);
    transition: 0.6s;
}

@for $i from 1 through 40 {
    .logoImg [data-alf]:nth-child(#{$i}) {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(-50px);

        animation: slideFromLeft 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        animation-delay: #{$i * 0.1}s;
    }
}

.logoImg [data-alf] {
    transition: opacity 0.25s ease;
}

.logo:not(:hover) .logoImg [data-alf] {
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}


/* hover */
.logo:hover [data-count="one"],
.logo:hover [data-count="two"],
.logo:hover [data-count="three"] {
    transform: translateX(0);
}

.logo:hover [data-alf="line"] {
    fill: var(--zelenyy-2-osnovnoy);
}


/* цветовая анимация */
.logo:hover [data-count="one"] {
    animation: logoColor 1s infinite 0.6s;
}

.logo:hover [data-count="two"] {
    animation: logoColor 1s infinite 0.4s;
}

.logo:hover [data-count="three"] {
    animation: logoColor 1s infinite 0.2s;
}

@keyframes logoColor {
    0% {
        fill: var(--zelenyy-2-osnovnoy);
    }

    50% {
        fill: var(--siniy);
    }

    100% {
        fill: var(--zelenyy-2-osnovnoy);
    }
}



/* RIGHT */
.right {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

/* SOCIALS */
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    position: absolute;
    right: 100%;
    margin-right: 10px;

    pointer-events: none;
}

.social {
    opacity: 0;
    transform: translateX(20px) scale(0.8);
    transition: 0.3s ease;
    transition-delay: calc(var(--i) * 0.05s);
    
    height: 40px;
    width: 40px;
    img{
        transition: 300ms ease-in-out;
        border-radius: 5px;
        overflow: hidden;
    }
}

.socials.open .social {
    opacity: 1;
    transform: translateX(0) scale(1);
    pointer-events: auto;


    &:hover {
        img {
                background: var(--zelenyy-2-osnovnoy);
    box-shadow: inset -2px -1px 20px #030701;
        }
    }
}

/* BURGER */
.burger {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.burger.open {
    transform: rotate(90deg);
}





@media (max-width: 768px) {
    .mobNo {
        display: none !important;
    }
    .right {
    display: none;
}

}